asgiref==3.6.0
Django==4.1.4
django-phonenumber-field==7.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
phonenumbers==8.13.3
Pillow==9.3.0
PyJWT==2.6.0
python-decouple==3.6
pytz==2022.7
sqlparse==0.4.3
